.venv/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
.env
/.venv_linux
/.vscode
/Tests/.pytest_cache
/.pytest_cache
/mnt/c/Users/maria/Documents/Github/crutchachos/C:/Users/bradl/Downloads/ABM_GroupWork-main1/ABM_GroupWork-main